# Directories
frontend/node_modules
frontend/.next
frontend/out
frontend/build
frontend/coverage
frontend/.env.local
frontend/.env.*.local
frontend/.DS_Store

backend/bin
backend/vendor
backend/.env

task/bin
task/vendor
task/.env

# Misc
.DS_Store
*.log
*.env
*/service-account.json
